node_modules
.next
out
dist
coverage
.vercel
.env
.env.local
.env.production.local
.env.development.local
.env.test.local
!.env.example
backup
apps
database
src/modules
src/server.ts
src/main.ts
src/app.ts
src/common
src/infrastructure
src/routes
tree.txt
*.bak
*.log
*.tmp
*.cache
tsconfig.tsbuildinfo
.next_old_*